body{
  text-align: center;
  align-items: center;
  background-color: rgb(225, 206, 235);
}

h1{
  font-size: 30px;
  color: rgb(34, 9, 58);
}

h2{
  font-size: 40px;
  color: rgb(34, 9, 58);
}


button{
  font-size: 15px;
  background-color: rgb(30, 8, 51);
  color: white;
  width: 70px;
  border-radius: 10px ;
  border:1px rgb(30, 8, 51) ;
  height: 30px;
  margin-left: 30px;
}